.todos {
  border: black solid 1px;
  width: 80rem;
  padding: 1rem;
}

section {
  margin: 6rem 10rem;
  font-size: 2rem;
  word-spacing: 0.5rem;
  line-height: 2;
}

p {
  margin-top: 4rem;
}

h1 {
  color: blue;
  font-size: 3rem;
  margin-top: 2rem;
}