<section>
  <h1>Les premiers todos</h1>
    <div>
      <div class="todos">
        <p>challenger/Poser une architecture front</p>
      </div>

      <div class="todos">
        <p>challenger/Poser une architecture back</p>
      </div>

      <div class="todos">
        <p>ajouter la librairie i18n</p>
      </div>

      <div class="todos">
        <p>Ajouter un workspace back</p>
      </div>

      <div class="todos">
        <p>Ajouter un workspace front</p>
      </div>

      <div class="todos">
        <p>Ajouter swagger</p>
      </div>

      <div class="todos">
        <p>Ajouter une gestion d'erreurs back</p>
      </div>

      <div class="todos">
        <p>Ajouter une connexion à une base arangoDB</p>
      </div>

      <div class="todos">
        <p>Ajouter une connexion à une base arangoDB</p>
      </div>

      <div class="todos">
        <p>Ajouter une connexion à une base postrgresql</p>
      </div>

      <div class="todos">
        <p>Ajouter une connexion à une base mongoDB</p>
      </div>

      <div class="todos">
        <p>Ajouter une connexion à une base ElasticSearch</p>
      </div>

      <div class="todos">
        <p>Ajouter une connexion à une base redis</p>
      </div>

      <div class="todos">
        <p>Créer un process de déploiement cloud français</p>
      </div>

      <div class="todos">
        <p>Créer un process de déploiement cloud AWS</p>
      </div>

    </div>
</section>