<section>
  <h1>Features front</h1>
    <div>
      <div class="todos">
        <p>challenger/Poser une architecture front</p>
        <p>description: à venir</p>
      </div>

      <div class="todos">
        <p>Ajouter un workspace front</p>
        <p>description: à venir</p>
      </div>

      <div class="todos">
        <p>ajouter la librairie i18n</p>
        <p>description: à venir</p>
      </div>

      <div class="todos">
        <p>feature: à venir  </p>
        <p>description: à venir</p>
      </div>
    </div>
  <h1>Features back</h1>
    <div>
      <div class="todos">
        <p>challenger/Poser une architecture back</p>
        <p>description: à venir</p>
      </div>

      <div class="todos">
        <p>Ajouter un workspace back</p>
        <p>description: à venir</p>
      </div>

      <div class="todos">
        <p>Ajouter swagger</p>
        <p>description: à venir</p>
      </div>

      <div class="todos">
        <p>Ajouter une gestion d'erreurs back</p>
        <p>description: à venir</p>
      </div>

      <div class="todos">
        <p>Ajouter une connexion à une base arangoDB</p>
        <p>description: à venir</p>
      </div>

      <div class="todos">
        <p>Ajouter une connexion à une base neo4j</p>
        <p>description: à venir</p>
      </div>

      <div class="todos">
        <p>Ajouter une connexion à une base postrgresql</p>
        <p>description: à venir</p>
      </div>

      <div class="todos">
        <p>Ajouter une connexion à une base mongoDB</p>
        <p>description: à venir</p>
      </div>

      <div class="todos">
        <p>Ajouter une connexion à une base ElasticSearch</p>
        <p>description: à venir</p>
      </div>

      <div class="todos">
        <p>Ajouter une connexion à une base redis</p>
        <p>description: à venir</p>
      </div>

      <div class="todos">
        <p>feature: à venir  </p>
        <p>description: à venir</p>
      </div>
    </div>
  <h1>Features back/ops</h1>
    <div>
      <div class="todos">
        <p>Créer un process de déploiement cloud français</p>
        <p>description: à venir</p>
      </div>

      <div class="todos">
        <p>Créer un process de déploiement cloud AWS</p>
        <p>description: à venir</p>
      </div>

      <div class="todos">
        <p>feature: à venir  </p>
        <p>description: à venir</p>
      </div>
    </div>
  <h1>Features ux</h1>
    <div>
      <div class="todos">
        <p>feature: à venir  </p>
        <p>description: à venir</p>
      </div>
    </div>
  <h1>Features ui</h1>
    <div>
      <div class="todos">
        <p>feature: à venir  </p>
        <p>description: à venir</p>
      </div>
    </div>
  <h1>Features po</h1>
    <div>
      <div class="todos">
        <p>feature: à venir  </p>
        <p>description: à venir</p>
      </div>
    </div>
  <h1>Features entrepreneurs</h1>
    <div>
      <div class="todos">
        <p>feature: à venir  </p>
        <p>description: à venir</p>
      </div>
    </div>
</section>