<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular App</title>
</head>
<body>
  <header>
    <div class="nav">
      <a routerLink="/">Contributors</a>
    </div>
    <div class="nav">
      <a routerLink="/board">Board</a>
    </div>
    <div class="nav">
      <a routerLink="/about">About</a>
    </div>
  </header>
  <div>
    <router-outlet></router-outlet>
  </div>
  <div> 
    <section>
      <h1>Les premiers todos</h1>
        <div *ngFor="let todo of todosList">
          <div class="todos">
            <p>{{ todo.number }}: {{ todo.title }}</p>
          </div>
        </div>
    </section>
    <section>
      <h1>Les contributeurs</h1>
      <h1>Fondateur / PO / DEV</h1>
        <div class="contributors">
          <p>Olivier Delalande</p>
          <p>Linkedin https://fr.linkedin.com/in/olivierdelalande</p>
          <p>github https://github.com/OlivierDelalande</p>
        </div>
      <h1 class="developers">développeurs</h1>
        <div *ngFor="let contributor of contributorsList">
          <div class="contributors">
            <p>{{ contributor.firstname }} {{ contributor.lastname }}</p>
            <p>Linkedin {{ contributor.linkedin_profile }}</p>
            <p>github {{ contributor.github_profile }}</p>
          </div>
        </div>
        <div><p>Bientôt toi ;)</p></div>
    </section>
  </div>
  <footer>
  </footer>
</body>
</html>
