<section>
  <h1>Les contributeurs</h1>
  <h1>Fondateur / PO / DEV</h1>
    <div class="contributors">
      <p>Olivier Delalande</p>
      <p>Linkedin https://fr.linkedin.com/in/olivierdelalande</p>
      <p>github https://github.com/OlivierDelalande</p>
      <p>Années d'expériences dans ce domaine</p>
      <p>Années d'expériences au total</p>
      <p>Contributions aux features suivantes : ...</p>
    </div>

    <h1>développeurs</h1>
    <div class="contributors">
      <div><p>Bientôt toi ;)</p></div>
        <p>Nom</p>
        <p>Linkedin</p>
        <p>github</p>
        <p>Années d'expériences dans ce domaine</p>
        <p>Années d'expériences au total</p>
        <p>Contributions aux features suivantes : ...</p>
    </div>

    <h1>Ops</h1>
    <div class="contributors">
      <div><p>Bientôt toi ;)</p></div>
        <p>Nom</p>
        <p>Linkedin</p>
        <p>Années d'expériences dans ce domaine</p>
        <p>Années d'expériences au total</p>
        <p>Contributions aux features suivantes : ...</p>
    </div>

    <h1>QA</h1>
    <div class="contributors">
      <div><p>Bientôt toi ;)</p></div>
        <p>Nom</p>
        <p>Linkedin</p>
        <p>Années d'expériences dans ce domaine</p>
        <p>Années d'expériences au total</p>
        <p>Contributions aux features suivantes : ...</p>
    </div>

    <h1>UX</h1>
    <div class="contributors">
      <div><p>Bientôt toi ;)</p></div>
        <p>Nom</p>
        <p>Linkedin</p>
        <p>Années d'expériences dans ce domaine</p>
        <p>Années d'expériences au total</p>
        <p>Contributions aux features suivantes : ...</p>
    </div>
        
    <h1>UI</h1>
    <div class="contributors">
      <div><p>Bientôt toi ;)</p></div>
        <p>Nom</p>
        <p>Linkedin</p>
        <p>Années d'expériences dans ce domaine</p>
        <p>Années d'expériences au total</p>
        <p>Contributions aux features suivantes : ...</p>
    </div>
        
    <h1>PO</h1>
    <div class="contributors">
      <div><p>Bientôt toi ;)</p></div>
        <p>Nom</p>
        <p>Linkedin</p>
        <p>Années d'expériences dans ce domaine</p>
        <p>Années d'expériences au total</p>
        <p>Contributions aux features suivantes : ...</p>
    </div>

    <h1>Entrepreneurs attendant que ce projet s'enrichisse de nouvelles features</h1>
    <div class="contributors">
      <div><p>Bientôt toi ;)</p></div>
        <p>Nom</p>
        <p>Linkedin</p>
        <p>Années d'expériences dans ce domaine</p>
        <p>Années d'expériences au total</p>
        <p>Contributions aux features suivantes : ...</p>
    </div>
    
</section>